/* Created by itsu */

.styled-text-area {
    -fx-background-color: #282C34;
    -fx-font-size: 14;
}

.styled-text-area .text {
    -fx-fill: #979FAD;
    -fx-font-family: "Cascadia Code";
}

.styled-text-area .paragraph-box .selection {
    -fx-fill: #3E4451;
    -fx-text-fill: #FFFFFF;
}

.paragraph-box:has-caret {
    -fx-background-color: #333843;
    -fx-border-color: -fx-accent;
    -fx-border-width: 0 0 0 3;
}

.lineno {
    -fx-background-color: #282C34;
    -fx-pref-width: 44px;
}

.lineno .text {
    -fx-fill: #43454A;/*43454A*/
    -fx-font-family: Arial;
    -fx-font-size: 12;
}

.caret {
    -fx-stroke: #1E88E5;
    -fx-stroke-width: 2px;
}