/* Created by itsu */
/*
Main background: #282C34
Main text color: -fx-text
Main selected color: #333843
Accent color: #1565C0
 */

.root {
    -fx-base: #282C34;
    -fx-accent: #1565C0;
    -fx-text: #979FAD;
    -fx-text-hover-selected: #FFFFFF;
}

.label {
    -fx-text-fill: -fx-text;
}

.button {
    -fx-background-color: #333843;
    -fx-text-fill: -fx-text;
}

.button:hover {
    -fx-background-color: #393E4A;
    -fx-text-fill: -fx-text-hover;
}

.tree-cell:selected {
    -fx-border-color: -fx-accent;
    -fx-border-width: 0 0 0 3;
    -fx-background-color: #333843;
    -fx-text-fill: #FFFFFF;
}

.tree-cell {
    -fx-background-color: #282C34;
    -fx-text-fill: -fx-text;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: -fx-text;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: -fx-text;
}

.tree-view {
    -fx-background-color: #282C34;
}

.menu-bar {
    -fx-background-color: #282C34;
    -fx-border-width: 1px;
}

.menu-bar .label {
    -fx-text-fill: -fx-text;
}

.menu:hover {
    -fx-background-color: #333843;
}

.menu {
    -fx-background-color: #282C34;
}

.menu-item {
    -fx-background-color: #282C34;
}

.menu-item > .label {
    -fx-pref-height: 24px;
    -fx-pref-width: 256px;
}

.menu-item:hover {
    -fx-background-color: #333843;
}

.context-menu > * > .separator {
    -fx-border-width: 0;
    -fx-backfround-color: transparent;
}

.context-menu > * > .separator > .line {
    -fx-border-color: #333843;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.context-menu {
    -fx-padding: 1 1 1 1;
    -fx-background-color: #333843;
}

.actionbar {
    -fx-background-color: #282C34;
    -fx-padding: 0 0 0 0;
    -fx-border-style: solid;
    -fx-border-color: #333843;
    -fx-border-width: 1px;
}

.separator {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-background-color: #333843;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 2 0 2;
    -fx-background-color: #333843;
}

.split-pane {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #282C34;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-border-radius: 0 0 0 0;
    -fx-background-color: #22262e;
}

.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-min-width: 90px;
    -fx-close-tab-animation: NONE;
}

.tab {
    -fx-background-insets: 0 1 0 0, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #22262e;
}

.tab-content-area {
    /*-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, -5, 0);*/
    -fx-effect: innershadow(gaussian, rgba(34, 38, 46, 0.6), 0, 0, 0, 5.0);
}

.tab-pane .tab:selected {
    -fx-background-color: #282C34;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 0.166667em 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0 0 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #3E4450;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 0 0 3 0;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {

}

.tab-down-button {
    -fx-background-color: #282C34;
    -fx-background-radius: 0;
}

.tab-down-button .arrow {
    -fx-background-color: #FFFFFF;
}

.scroll-bar {
    -fx-background-color: #282C34;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
    -fx-opacity: 0;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(#1565C080, 5.0%);
    -fx-background-insets: 3.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#1565C0B3, 10.0%);
    -fx-background-insets: 3.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.label {
    -fx-fill: -fx-text;
}

.action-bar-button {
    -fx-min-width: 28px;
    -fx-max-width: 28px;
    -fx-min-height: 28px;
    -fx-max-height: 28px;
    -fx-padding: 3 3 3 3;
    -fx-background-radius: 14px;
    -fx-background-color: -fx-base;
}

.action-bar-button:hover {
    -fx-min-width: 28px;
    -fx-max-width: 28px;
    -fx-min-height: 28px;
    -fx-max-height: 28px;
    -fx-background-color: derive(#1565C080, 5.0%);
}

.jfx-progress-bar > .track{
    -fx-background-color: transparent;
}

.jfx-decorator {
    -fx-decorator-color: #1C1F25;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 2 2 2;
}
