#java .keyword {
    -fx-fill: #C979DD;
    -fx-font-style: italic;
}

#java .semicolon {
    -fx-font-weight: bold;
}

#java .paren {
    -fx-fill: #FFB74D;
    -fx-font-weight: bold;
}

#java .bracket {
    -fx-fill: #673AB7;
    -fx-font-weight: bold;
}

#java .brace {
    -fx-fill: #29B6F6;
    -fx-font-weight: bold;
}

#java .string {
    -fx-fill: #98C379;
}

#java .comment {
    -fx-fill: #9E9E9E;
    -fx-font-style: italic;
}

#java .variable-type {
    -fx-fill: #E5C17C;
}

#java .variable-name {
    -fx-fill: #D19A66;
}

#java .variable-element-field {
    -fx-fill: #E06C75;
}

#java .variable-element-field-static {
    -fx-fill: #E06C75;
    -fx-font-weight: bold;
}

#java .method-call-name {
    -fx-fill: #61AEEF;
}

#java .method-define-name {
    -fx-fill: #61AEEF;
}

#java .method-define-variable-type {
    -fx-fill: #E5C17C;
}

#java .method-define-variable-name {

}

#java .method-define-annotation-name {
    -fx-fill: #C979DD;
}

#java .class-define-name {
    -fx-fill: #E5C17C;
}

#java .class-define-extended-type {
     -fx-fill: #E5C17C;
}

#java .class-define-implemented-type {
    -fx-fill: #98C379;
    -fx-font-style: italic;
}

#java .problem {
    -fx-fill: #C62828;
    -rtfx-underline-width: 2;
}